version: '3.3'

services:
  app:
    build:
      context: .
      args:
        - INSTALL_DEV=${INSTALL_DEV:-False}
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ${MEDIA_ROOT_HOST:-./src/}:/app/src/media/
    restart: unless-stopped
    env_file:
      - .env
  db:
    image: postgres:15.0-alpine
    env_file:
      - .env
    expose:
      - 5432
    volumes:
      - postgres:/var/lib/postgresql/data
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "user", "-d", "postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres: